:root {
  --container-bg-color: #181926;
  --ligher-color: #2f3340;
  --light-yellow: #d9c382;
  --dark-yellow: #a6976a;
  --light-gray: #f2f2f2;
}

* {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  padding: 0;
  color: var(--light-gray);
}

.parYellow {
  color: var(--light-yellow);
}
.parDYellow {
  color: var(--dark-yellow);
}
.pardg {
  color: var(--container-bg-color);
}
select option {
  color: var(--container-bg-color);
}
input.chkBox {
  width: 20px !important;
  height: 20px !important;
}
.bg-dg {
  background-color: var(--ligher-color);
}
.bg-d {
  background-color: var(--container-bg-color);
}
.bg-y {
  background-color: var(--light-yellow);
}
.bg-dy {
  background-color: var(--dark-yellow);
}

#main {
  height: 100%;
}
